body { 
	background-color: #131862;
	font-family: Andale Mono, monospace;
	color: #ffffff;
	margin-left: 15%;
	margin-right: 15%;
}

body h1 { 
	text-align: center;
}

.headerContainer {
	margin-bottom: 20px;
}

.boardContainer {
	width: 440px;
	height: 440px;
}

#game {
	background-color: #ffffff;
	border: 20px solid #2e4482;
	display: grid;
	grid-template-columns: repeat(20, 20px);
}

.cell {
	width: 20px;
	height: 20px;
	background-color: #bea9de;
	box-sizing: border-box;
	border: 1px solid #dfcbff;
}

.selected-cell {
	background-color: #cfbaef
}

.cell:hover {
	box-sizing: border-box;
	border: 1px solid #ffffff;
}

#reset {
	width: 120px;
	height: 40px;
	color: #ffffff;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #2e4482;
	margin-left: auto;
	margin-right: auto;
}

#reset:hover {
	background-color: #3f5593;
	cursor: pointer;
}